html, body { overflow: hidden; height: 100% }
body { margin:0; padding:0; }

.orbit (@width, @rotateDuration, @center: false) {
    width: @width;
    height: @width;
    border-radius: @width/2;
    border: 1px solid black;

    position: absolute;

    margin: 0 auto;
    top: -1 * @width/2;

    right: 0px;
    left: 0px;

    .centerOrbit(@center);

    border: 1px dotted blue;

    -webkit-animation: rotate @rotateDuration linear 0s infinite;
    animation: rotate @rotateDuration linear 0s infinite;
}

.centerOrbit (@center) when (@center = true) {
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.planet (@width, @color) {
    width: @width;
    height: @width;
    border-radius: @width/2;
    background-color: @color;

    position: absolute;
    margin: 0 auto;
    top: -1 * @width/2;
    right: 0px;
    left: 0px;
}

.galaxy {
    width: 600px;
    height: 600px;
    position: relative;
    margin: auto;
    top: 25px;
}
.sun {
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
}

.earthOrbit {
    .orbit(400px, 5s, true);
    border: 1px solid lightblue;
}

.moonOrbit { .orbit(100px, 2s); }
.secondMoonOrbit { .orbit(160px, 3.5s); }
.thirdMoonOrbit { .orbit(50px, 1.5s); }

.moon { .planet(10px, red) }
.secondMoon { .planet(10px, red) }
.thirdMoon { .planet(10px, red) }

.earth { .planet(25px, blue) }

.marsOrbit { .orbit(600px, 8s, true); border: 1px solid orange; }
.mars { .planet(30px, orange); }

.marsMoon { .planet(10px, red); }
.marsMoonOrbit { .orbit(150px, 3s); border: 1px solid blue; }

@-webkit-keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}